footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
  background: #eee;
}
.footer-links {
  width: 30%;
  text-align: center;
}
.footer-links ul {
  list-style: none;
  align-items: center;
  padding: 0;
}
.footer-links li {
  margin-bottom: 8px;
  padding: 2px 0;
}
.footer-links h4 {
  margin-bottom: 25px;
}
