* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  position: relative;
  width: 360px;
  height: 440px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  color: #000;
  background-image: url('https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.card p,
.card h2 {
  position: relative;
  z-index: 1;
  color: white;
}
.card h2 {
  margin: 0;
}
.card button {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: darkcyan;
  color: white;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.card button:hover {
  background-color: cyan;
}
.price {
  position: relative;
  z-index: 1;
  color: darkcyan;
  font-weight: 800;
}
.info {
  margin-left: 20px;
  display: block;
  position: relative;
  width: 360px;
  height: 440px;
  border-radius: 10px;
  overflow: scroll;
  padding: 20px 10px 15px 30px;
  box-sizing: border-box;
  color: #000;
  border: 2px solid black;
}
#caracteristici {
  list-style: circle;
}
#livrare {
  list-style: upper-roman;
}
#culori {
  list-style: none;
}
