body {
  margin: 0;
}

.hero {
  background-image: url(./Curs_html_Css_Real/assets/img/intcardetailing.png);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 10px;
}
.hero-image {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
