body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  border: 1px solid#ccc;
  background-color: #f9f9f9;
  background-image: url(./Curs_html_Css_Real/assets/img/intcardetailing.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px;
  background-attachment: fixed;
}
.hero-image {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.hero-text {
  display: block;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-text h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}
.title {
  text-align: center;
  margin-bottom: 1px;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
p .bold {
  font-weight: 800;
}
p .yellow {
  background-color: yellow;
  font-weight: 800;
}
p .italic {
  font-style: italic;
}
.container {
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-radius: 15px;
}
